<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean  id= "carBean" class="com.xinghuaz.DI.CarFactoryBean">
		<property name="year"><value>1989</value></property>
		<property name="make" value="BMW"></property>
	</bean>
</beans>