<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean class="com.xinghuaz.DI.BeanA" id="beanA">
		<property name="calendar">
			<bean class="java.util.Calendar" factory-method="getInstance"></bean>
		</property>
	</bean>
	
	<bean class="com.xinghuaz.DI.CustomeFactory" id="customeFactory" />
	
	<bean class="com.xinghuaz.DI.BeanB" id="beanB" 
		factory-bean="customeFactory" 
		factory-method="getBeanInstance">
	</bean>
</beans>