<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<context:annotation-config />

	<bean id="customer" class="com.xinghuaz.DI.Customer" />


	<bean id="person" class="com.xinghuaz.DI.Person">
		<property name="name" value="xing hua"></property>
		<property name="address" value="fjewoi rd"></property>
		<property name="age" value="20"></property>
	</bean>

	<bean id="personx" class="com.xinghuaz.DI.Person">
		<property name="name" value="Xxxx"></property>
		<property name="address" value="fjewoi rd"></property>
		<property name="age" value="20"></property>
	</bean>
</beans>